body {
  margin: 0;
  font-family: sans-serif;
}

body img {
  max-width: 100%;
}

body section {
  height: 100vh;
  background-size: 10% 14%;
  background-image: linear-gradient(to right, #e2007433 1px, transparent 1px), linear-gradient(to bottom, #e2007433 1px, transparent 1px);
}

body .pink {
  color: #e20074;
}

#page {
  width: 100%;
  height: 100%;
}

#page #inner-page {
  width: 700%;
  height: 100%;
}

section {
  height: auto;
  width: calc(100% / 7);
  float: left;
  position: relative;
}

#preloader {
  width: 100vw;
  background-color: #fff;
  background-image: none;
}

#preloader .start_logo {
  opacity: 0;
  -webkit-animation: fadeIn 1s forwards;
          animation: fadeIn 1s forwards;
  font-family: "Times New Roman", Times, serif;
  color: #e20074;
  font-size: 170px;
  -webkit-transform: translateX(-75px);
          transform: translateX(-75px);
  display: -ms-grid;
  display: grid;
  place-content: center;
  height: 100vh;
}

#preloader .boxes {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  display: -ms-grid;
  display: grid;
  place-content: center;
  grid-auto-flow: column;
  width: 100%;
}

#preloader .boxes div {
  opacity: 0;
  width: 20px;
  height: 18px;
  background-color: #e20074;
  margin: 0 27px;
}

#preloader .boxes div:nth-child(1) {
  -webkit-animation: fadeIn 1s 1s forwards;
          animation: fadeIn 1s 1s forwards;
}

#preloader .boxes div:nth-child(2) {
  -webkit-animation: fadeIn 1s 1.5s forwards;
          animation: fadeIn 1s 1.5s forwards;
}

#preloader .boxes div:nth-child(3) {
  -webkit-animation: fadeIn 1s 2s forwards;
          animation: fadeIn 1s 2s forwards;
}

#preloader .boxes div:nth-child(4) {
  -webkit-animation: fadeIn 1s 2.5s forwards;
          animation: fadeIn 1s 2.5s forwards;
}

#second_screen {
  height: 100vh;
}

#second_screen .v_center {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 8vw;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

#second_screen .v_center p {
  margin-top: 0;
  font-size: 12px;
}

#second_screen .alphabet_image {
  font-size: 200vh;
  line-height: 1;
  position: absolute;
  top: 0;
  top: -130px;
  right: 0px;
  font-family: "Times New Roman", Times, serif;
  color: #e20074;
  background: url(img/t.jpg);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#third_screen {
  height: 100vh;
}

#third_screen .box_info {
  width: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  place-content: center;
  height: 100%;
  margin-left: 20vw;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: absolute;
  bottom: 50px;
  opacity: 0;
}

#third_screen .box_info.start {
  -webkit-animation: fadeIn 1s 0.3s forwards;
          animation: fadeIn 1s 0.3s forwards;
}

#third_screen .box_info p {
  margin-top: 0;
  font-size: 12px;
}

#third_screen .about_people {
  width: inherit;
  position: absolute;
  right: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  place-content: center;
  height: 100%;
  opacity: 0;
}

#third_screen .about_people.start {
  -webkit-animation: fadeIn 1s 0.3s forwards;
          animation: fadeIn 1s 0.3s forwards;
}

#third_screen .about_people img {
  border-radius: 20px;
}

#third_screen .about_people p {
  font-size: 12px;
}

#fourth_section .box_info {
  width: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  place-content: center;
  height: 100%;
  margin-left: 15vw;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: absolute;
  bottom: 50px;
  opacity: 0;
}

#fourth_section .box_info.start {
  -webkit-animation: fadeIn 1s 0.3s forwards;
          animation: fadeIn 1s 0.3s forwards;
}

#fifth_section .box {
  background-color: #e20074;
  width: 100px;
  height: 100px;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 1200px) {
  body {
    display: none;
  }
}
/*# sourceMappingURL=index.css.map */