<section id="preloader">
    <div class="start_logo">
        T
    </div>
    <div class="boxes">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</section>